
<div class="container text-center">
  <div class="row">
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/10/97/d1/1097d138ecbe762b7754165b6b75f4ed.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Trust the process</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/db/90/88/db90881ead068ab6f109a9abcf6564e0.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Focus and Rise</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/06/26/f3/0626f3d9a74af523be16b6c2c96af141.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Stay Consistent</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
    <div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/f3/19/54/f31954fde9ec72cecb86364fef475aca.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Effort never lies</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/e5/ea/e5/e5eae5f2ea43d5a8ab880a3b1d5bff4d.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Level up daily</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/56/82/05/568205d7d79ed26d6860c36f441d5032.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Make it happen</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/88/5f/35/885f357b8142afb54c5a916f7e653cba.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Grow through it</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
<div class="col"><div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/736x/ed/d9/19/edd919508519e6ce985a2f0407bf76fa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dream</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  </div>
 
</div>