<div class="container text-center">
  <div class="row">
    <div class="col-sm-8"><div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18906.129712753736!2d6.722624160288201!3d60.12672284414915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463e997b1b6fc09d%3A0x6ee05405ec78a692!2sJ%C4%99zyk%20trola!5e0!3m2!1spl!2spl!4v1672239918130!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div></div>
    <div class="col-sm-4"><h4>Address:</h4>
       
Atatürk Caddesi No: 24,<br>
Kat 3, Daire 7,<br>
Çankaya,<br>
Ankara,
Türkiye<br>
mob:91784322895
    </div>
  </div>
</div>
